.popup__title{
  margin: 0 0 54px 0;
  font-style: normal;
  font-weight: 900;
  font-size: 23px;
  line-height: 23px;
}

@media screen and (max-width: 768px){
  .popup__title{
    font-size: 18px;
    line-height: 22px;
    margin: 0 0 75px 0;
  }
}
