.profile__subtitle{
  margin: 0;
  color: #fff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 18px;
  line-height: 22px;
  grid-area: subtitle;
}

@media screen and (max-width: 1024px){
  .profile__subtitle {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin-left: 42px
  }
}
