.profile__title{
  min-height: 39px;
  width: 100%;
  max-width: 294px;
  margin: 0;
  grid-area: title;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #fff;
}

@media screen and (max-width: 1024px){
  .profile__title {
    max-width: 189px;
    min-height: 26px;
    font-size: 27px;
    line-height: 33px;
    text-align: center;
    margin-left: 46px;
  }
}
