.profile__add-button{
  min-width: 150px;
  min-height: 50px;
  background: url("../../../images/profile/button/add.svg") no-repeat center;
  cursor: pointer;
  border-radius: 2px;
  border: 2px solid #ffffff;
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 1024px){
  .profile__add-button {
    width: 100%;
    max-width: 282px;
    justify-self: center;
    margin-top: 36px;
  }
}
