.footer__copyright{
  margin: 0;
  color: #545454;
  font-size: 18px;
  line-height: 22px;
}

.footer__copyright:before{
  content: '\00A9 \0020 2020';
}

@media screen and (max-width: 1024px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 17px;
  }
}
