.element__button-trash{
  position: absolute;
  border: 0;
  top: 20px;
  right: 20px;
  width: 18px;
  height: 19px;
  background: url("../../../images/elements/button/trash.svg") no-repeat;
  cursor: pointer;
}

.element__button-trash:hover {
  opacity: 0.5;
}
