.popup__input{
  width: 100%;
  border: 0;
  padding: 0 0 13px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  max-height: 14px;
  outline: none;
}

.popup__input:not(:first-child){
  margin: 30px 0 0;
}

@media screen and (max-width: 768px){
  .popup__input{
    font-size: 14px;
    line-height: 17px;
  }
}
