.element__button-like{
  border: 0;
  min-width: 22px;
  height: 19px;
  background: url("../../../images/elements/button/like.svg") no-repeat;
  cursor: pointer;
}

.element__button-like:hover {
  opacity: 0.5;
}
